
# spiders
scrapy
sqlalchemy

#psycopg2   #renamed to psycopg2-binary
# window (py3.4):
#       download from http://www.stickpeople.com/projects/python/win-psycopg/j
#       then easy_install
# OR
#       pip install git+https://github.com/nwcell/psycopg2-windows.git@win32-py34#egg=psycopg2
psycopg2-binary

Pillow

#readnovel
flask

# novel reader
# django<2.0.0
django==1.11.*
django-allauth
