{% extends "../base_site.html" %}{% load staticfiles static %}

{% block title %}{{ choice_novels.0.name }} {{ choice_novels.0.last_chapter }} {{ choice_novels.0.author }} 最新章节{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="row">

    {% include '../inc/banner.html' %}

    {#  ===== Left column =====  #}
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
{#        <h1 class="london-title text-warning">Left column</h1>#}

        {#  ===== Editor choice =====  #}
        <div class="row margin-b-10">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box paris novel-card-block">
                    <div class="info float-container col-sm-12">
                        <div class="col-sm-12 london-title paris-title">
                            <h3>编辑推荐</h3>
                            <h4 class="text-uppercase">Editor Choice</h4>
                        </div>
                    </div>

                    {% for r in choice_novels %}

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 margin-b-10">
                        <div class="box london novel-card">
                            <div class="box-icon">
                            </div>
                            <div class="info float-container col-sm-12">
                                <div class="col-xxs-12 novel-cover">
                                    <img src="{% get_static_prefix %}albums/{{ r.name }}.jpg" alt="{{ r.name }}.jpg"
                                         onerror="this.onerror=null;this.src='{% get_static_prefix %}images/nocover.jpg';"
                                         class="img-responsive">
                                </div>
                                <div class="london-title novel-title">
                                    <h3 class="novel-name"><a href="#{{ r.id }}">{{ r.name }}</a></h3>
                                    <h4 class="text-uppercase">{{ r.author }}</h4>
    {#                                <h4 class="text-uppercase">{{ r.status }}</h4>#}
    {#                                <h4>&nbsp;</h4>#}
                                </div>
                                <div class="clearfix"></div>
                                <div class="novel-desc"><p>{{ r.desc }}</p></div>
                                <hr/>
                                <div class="col-sm-12 location-main">
                                    <div class="pull-left location">
                                        <i class="fa fa-tag fa-2x"></i><span>{{ r.category }}</span>
                                    </div>
                                    <div class="pull-right user-icons">
                                        <a href="#"><i class="fa fa-star fa-2x"></i></a>
                                        <a href="#"><i class="fa fa-user fa-2x"></i></a>
                                        <a href="#"><i class="fa fa-weibo fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
        </div>
        {#  ===== Editor choice DONE =====  #}


        {#  ===== Updated novels =====  #}
        <div class="row margin-b-10">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box bottom-main novel-list-block">
                    <div class="info float-container">
                        <div class="col-sm-12 bottom-title">
                            <h3 class="text-uppercase">最新更新</h3>
                            <h4 class="text-uppercase">latest updated</h4>
                        </div>
                        <div class="row">
                            {% for r in update_novels_top %}
                            <div class="col-xxs-12 col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="bottom-img">
                                    <img src="{% get_static_prefix %}albums/{{ r.name }}.jpg"
                                         onerror="this.onerror=null;this.src='{% get_static_prefix %}images/nocover.jpg';"
                                         alt="{{ r.name }}.jpg">

                                    <p class="first">
                                        《{{ r.name }}》 <br>
                                        {{ r.last_chapter }} <br>
                                        {{ r.author }} {{ r.update_on|date:"m-y" }}
                                    </p>

                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row novel-list">
                            <ul>
                                {% for r in update_novels %}
                                    <li class="row">
                                        <span class="a col-xxs-12 col-xs-6 col-sm-4 col-md-4 col-lg-3"><a href="#">{{ r.name }}</a></span>
                                        <span class="b col-xxs-12 col-xs-6 col-sm-6 col-md-6 col-lg-5"><a href="#">{{ r.last_chapter }}</a></span>
                                        <span class="c hidden-xs hidden-xs col-sm-2 col-md-2 col-lg-2">{{ r.author }}</span>
                                        <span class="d hidden-xs hidden-xs hidden-sm hidden-md col-lg-2">{{ r.update_on|date:"d-m-y" }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
{#                        <p class="">&nbsp;</p><hr>#}
                        <div class="col-sm-12 location-main">
                            <div class="pull-right bottom-user">
                                <a href="#"><i class="fa fa-caret-right"></i><span>READ MORE</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#  ===== updated novels DONE ======  #}

    </div>
    {#  ===== END Left Column =====  #}


    {#  ===== Right Column ======  #}
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
{#        <h1 class="paris-title london-title text-danger">Right Column</h1>#}


        {#  ===== Hot novels =====  #}
        <div class="row margin-b-10">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box london novel-list-block">
                    <div class="info float-container">
                        <div class="col-sm-12 london-title">
                            <h3 class="text-uppercase">热门小说</h3>
                            <h4 class="text-uppercase">Hottest</h4>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row novel-list">
                            <ul>
                                {% for r in hot_novels %}
                                    <li class="row">
                                        <span class="m col-xxs-12 col-xs-6 col-sm-7 col-md-8 col-lg-8"><a href="#">{{ r.name }}</a></span>
                                        <span class="n hidden-xs hidden-xs col-sm-5 col-md-4 col-lg-4">{{ r.author }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-sm-12 location-main">
                            <div class="pull-right bottom-user">
                                <a href="#"><i class="fa fa-caret-right"></i><span>READ MORE</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#  ===== Hot novels DONE ======  #}



        {#  ===== Recommends novels =====  #}
        <div id="#recTotal" class="row margin-b-10">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box paris  novel-list-block">
                    <div class="info float-container">

                        {# tabs #}
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#recTotal" data-toggle="tab" style="cursor: pointer;">
                               <div class="london-title paris-title">
                                    <h3 class="text-uppercase">总推荐榜</h3>
                                    <h4 class="text-uppercase">Total Rmd</h4>
                               </div>
                            </a></li>
                            <li><a href="#recMonth" data-toggle="tab" style="cursor: pointer;">
                               <div class="london-title paris-title">
                                    <h3 class="text-uppercase">月推荐榜</h3>
                                    <h4 class="text-uppercase">Monthly Rmd</h4>
                                </div>
                            </a></li>
                        </ul>

                        {#  contents  #}
                        <div class="tab-content">
                            <div id="recTotal" class="tab-pane active">
                                <div class="row novel-list">
                                    <ul>
                                        {% for r in hot_novels %}
                                            <li class="row">
                                                <span class="m col-xxs-12 col-xs-6 col-sm-7 col-md-8 col-lg-8"><a href="#">{{ r.name }}</a></span>
                                                <span class="n hidden-xs hidden-xs col-sm-5 col-md-4 col-lg-4">{{ r.author }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-sm-12 location-main">
                                    <div class="pull-right bottom-user">
                                        <a href="#"><i class="fa fa-caret-right"></i><span>READ MORE</span></a>
                                    </div>
                                </div>
                            </div>

                            <div id="recMonth" class="tab-pane">
                                <div class="row novel-list">
                                    <ul>
                                        {% for r in hot_novels %}
                                            <li class="row">
                                                <span class="m col-xxs-12 col-xs-6 col-sm-7 col-md-8 col-lg-8"><a href="#">{{ r.name }}</a></span>
                                                <span class="n hidden-xs hidden-xs col-sm-5 col-md-4 col-lg-4">{{ r.author }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-sm-12 location-main">
                                    <div class="pull-right bottom-user">
                                        <a href="#"><i class="fa fa-caret-right"></i><span>READ MORE</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#  ===== Recommends novels DONE ======  #}


    </div>
    {#  ===== END Right Column =====  #}

</div>






{% endblock %}

{% block script %}
    {{ block.super }}
{% endblock %}