{% extends "../base_site.html" %}{% load staticfiles static %}

{% block title %}{{ novel.name }}({{ novel.author }})小说_{{ novel.name }}最新章节_{{ novel.name }}全文无弹窗_小说5200_笔趣阁_悟空追书 {{ block.super }}{% endblock %}

{% block head %}
<style>
    .box {
        width: 100%;
        margin-bottom: 0;
        background-color: rgba(255,255,255, 0.95);
    }
</style>
{% endblock %}

{% block content %}

    <div class="row">

    {#  ===== Left column (Novel Info) =====  #}
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
{#        <h1 class="london-title text-warning">Left column</h1>#}

        {#  ===== Novel info =====  #}
        <div class="row margin-b-10">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box london novel-info">
                    <div class="info float-container col-sm-12">
                        <div class="col-xxs-12 novel-cover">
                            <img src="{% get_static_prefix %}albums/{{ novel.name }}.jpg" alt="{{ novel.name }} 封面"
                                 onerror="this.onerror=null;this.src='{% get_static_prefix %}images/nocover.jpg';"
                                 class="img-responsive">
                        </div>
                        <div class="london-title novel-title">
                            <h2 class="novel-name">{{ novel.name }}</h2>
                            <h3 class="text-uppercase">作者：<a href="{% url 'search' %}?q={{ novel.author }}&qtype=author">{{ novel.author }}</a></h3>
                        </div>
                        <div class=""><p>{{ novel.desc }}</p></div>
                        <p>最新更新 ({{ novel.update_on|date:'Y-m-d H:i' }})：<a href="{{ novel.last_chapter_id }}/">{{ novel.last_chapter }}</a></p>
                        <div class="clearfix"></div>
                        <hr/>
                        <div class="col-sm-12 location-main">
                            <div class="pull-left location">
                                <i class="fa fa-tag fa-2x"></i><span>{{ novel.category }}</span>
                            </div>
                            <div class="pull-right user-icons">
                                <a id="start_read" href="#" class="btn btn-primary btn-sm"><i class="fa fa-book"></i> 开始阅读</a>
                                {% if request.user.is_superuser %}
                                    <a id="download_novel" title="下载" href="{% url 'novel' novel.id %}?download"><i class="fa fa-download"></i></a>
                                {% endif %}
                                {% if request.user.is_superuser %}
                                    <a id="email_novel" title="发送邮件" href="{% url 'novel' novel.id %}?email"><i class="fa fa-envelope"></i></a>
                                {% endif %}
                                {% include '../inc/stat_actions.html' with novel=novel %}
                                {% include '../inc/share_actions.html' with novel=novel %}
                                <a title="评论" style="cursor:pointer;" href="#disqus_thread"><i class="fa fa-comment fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
        </div>
            </div>
        </div>
        {#  ===== Novel info DONE =====  #}


        {#  ===== New chapters =====  #}
        <div class="row margin-b-10">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box">
                    <div class="info float-container">
                        <div class="col-sm-12 bottom-title">
{#                            <h3 class="text-uppercase">最新更新</h3>#}
                            <h4 class="text-uppercase">{{ novel.name }} 最新章节</h4>
                        </div>
                        <div class="row chapter-list">
                            <ul>
                            {% for r in latest_chapters %}
                            <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4"><a href="{{ r.id }}">{{ r.name }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
{#                        <p class="">&nbsp;</p><hr>#}
                        <div class="col-sm-12 location-main">
                            <div class="text-center bottom-user">
                                <a href="#full_chapters"><i class="fa fa-caret-right"></i><span>全部章节</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#  ===== New chapters DONE ======  #}

    </div>
    {#  ===== END Left Column =====  #}


    {#  ===== Right Column (Top N) ======  #}
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

        {#  ===== Hot novels =====  #}
        <div class="row margin-b-10">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box novel-list-block">
                    {% include '../inc/top_list.html' with top=top_a small=True %}
                </div>
            </div>
        </div>
        {#  ===== Hot novels DONE ======  #}


        {#  ===== Recommends novels =====  #}
        <div id="#recTotal" class="row margin-b-10">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box novel-list-block">
                    {% include '../inc/top_tabs.html' with tops=tops_b small=True %}
                </div>
            </div>
        </div>
        {#  ===== Recommends novels DONE ======  #}


    </div>
    {#  ===== END Right Column =====  #}


    {#  ===== Bottom column (Chapters) =====  #}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        {#  ===== Full chapters =====  #}
        <div class="row margin-b-10">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="full_chapters" class="box">
                    <div class="info float-container">
                        <div class="col-sm-12 bottom-title">
{#                            <h3 class="text-uppercase">最新更新</h3>#}
                            <h4 class="text-uppercase">{{ novel.name }} 全部章节</h4>
                        </div>
                        <div class="row chapter-list">
                            <ul>
                            {% for r in chapters %}
                            {% if r.is_section %}
                            <li class="col-xs-12 text-center bg-info">{{ r.name }}</li>
                                {% else %}
                            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="{{ r.id }}">{{ r.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
{#                        <p class="">&nbsp;</p><hr>#}
{#                        <div class="col-sm-12 location-main">#}
{#                            <div class="pull-right bottom-user">#}
{#                                <a href="#"><i class="fa fa-caret-right"></i><span>READ MORE</span></a>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
        {#  ===== Full chapters DONE ======  #}

        <div id="comments" class="info float-container box">
            {% include '../inc/comments.html' %}
        </div>
    </div>
    {#  ===== END Bottom Column =====  #}



</div>



{% endblock %}

{% block script %}
    {{ block.super }}
    <script id="dsq-count-scr" src="//bhks.disqus.com/count.js" async></script>
    <script>
        $(document).ready(function(){
            save_history("{{ novel.id }}", "{{ novel.name }}", null, null);

            var btn_read = $("#start_read");
            var history = load_history();
            var novel_id = "{{ novel.id }}";
            if (history.records.hasOwnProperty(novel_id)) {
                var record = history.records[novel_id];
                var cid = record['chapter_id'];
                var url = '';
                if (cid) {
                    url = "{% url 'novel' novel.id %}" + cid;
{#                    btn_read.removeClass('btn-primary').addClass('btn-warning');#}
                    btn_read.html('<i class="fa fa-book"></i> 继续阅读');
                    btn_read.attr('title', record['chapter_name']).tooltip("fixTitle").tooltip('show');
                }
            }

            if (!url) {
                var link_first_chapter = $("#full_chapters").find("ul a:first");
                console.log(link_first_chapter);
                url = link_first_chapter.attr("href");
                btn_read.attr('title', link_first_chapter.text()).tooltip('fixTitle').tooltip('show');
            }

            btn_read.click(function () {
                window.location = url;
            });

        });
    </script>
{% endblock %}