{% extends "../base_site.html" %}{% load i18n l10n staticfiles static %}

{% block title %}会员中心 {{ block.super }}{% endblock %}

{% block head %}
<style>
    .box {
        margin-bottom: 0;
        background-color: rgba(255,255,255, 0.95);
    }
    .user-card .london-title {
        margin-left: 120px;

    }
    .user-avatar {
        width: 100px;
        height: 100px;
        display: inline;
        float: left;
        padding: 3px;
        border: 1px solid #efefef;
        background: #fff;
        margin: 0 0 5px 10px;
    }
    .stat {
        font-family: 'Monaco', 'Comic Sans TW', 'Tw Cen MT';
        font-size: 14px;
    }
    .tab-content {
        padding: 0 30px;
        margin-top: 20px;
    }
    .form-control {
        margin: 5px 0;
    }
</style>
{% endblock %}

{% block content %}

    <div class="row">

        {#  ===== Full column =====  #}
        <div class="box col-xs-12 col-sm-12 col-md-12 col-lg-12">

            {#  ===== User info =====  #}
            <div class="info float-container ">

                <div class="col-xxs-12 col-xs-6 col-sm-4 col-md-4 col-lg-4">
                    <div class="box user-card col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="info float-container col-sm-12">
                            <div class="col-xxs-12 user-avatar">
                                <img src="{% get_static_prefix %}albums/{{ user.username  }}.jpg" alt="{{ user.username  }}.jpg"
                                     onerror="this.onerror=null;this.src='{% get_static_prefix %}images/noavatar.jpg'"
                                     class="img-responsive">
                            </div>
                            <div class="london-title">
                                <h2 class="text-uppercase">{{ user.username }}</h2>
                                <h4 class="text-caplized">{{ user.first_name }} {{ user.last_name }}</h4>
                            </div>
                            <div class="clearfix"></div>
                            <hr>
                            <div class="stat">
                                <p>注册：{{ user.date_joined|date:"Y-m-d H:i:s" }}</p>
                                <p>上次登录：{{ user.last_login|date }} {{ user.last_login|time }}</p>
                                <p>&nbsp;</p>
                            </div>
{#                            <hr/>#}
{#                            <div class="col-sm-12 location-main">#}
{#                                <div class="pull-left location">#}
{#                                    <i class="fa fa-tag fa-2x"></i><span>{{ user }}</span>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>

                {# some user information #}
                <div class="col-xxs-12 col-xs-6 col-sm-8 col-md-8 col-lg-8">
                    <div class="box col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="info float-container col-sm-12">
                            <ul class="stat record">
                                <li class="clearfix">
                                    <div style="width:20%"><b>总推荐数</b></div>
                                    <div style="width:20%"><b>总评分数</b></div>
                                    <div style="width:20%"><b>总评论数</b></div>
                                    <div style="width:20%"><b>总邀请访问数</b></div>
                                    <div style="width:20%"><b>总邀请注册数</b></div>
                                </li>
                                <li class="clearfix">
                                    <div style="width:20%">0</div>
                                    <div style="width:20%">0</div>
                                    <div style="width:20%">0</div>
                                    <div style="width:20%">0</div>
                                    <div style="width:20%">0</div>
                                </li>
                            </ul>

                            <ul class="stat record">
                                <li class="clearfix">
                                    <div style="width:20%"><b>总收藏</b></div>
                                    <div style="width:20%"><b>日推荐</b></div>
                                    <div style="width:20%"><b>日评分</b></div>
                                    <div style="width:20%"><b>日评论</b></div>
                                    <div style="width:20%"><b>总阅读</b></div>
                                </li>
                                <li class="clearfix">
                                    <div style="width:20%">0</div>
                                    <div style="width:20%">0</div>
                                    <div style="width:20%">0</div>
                                    <div style="width:20%">0</div>
                                    <div style="width:20%">0</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="clearfix"></div>

                <hr/>

                {% include '../inc/message.html' %}

                {# tabs #}
                <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="nav nav-tabs">
                        <li class="{% if tab == 'profile' or not tab %}active{% endif %}"><a href="#profile" data-toggle="tab">
                           <div class="">
                                <span class="text-uppercase">个人资料</span>
                            </div>
                        </a></li>
                        <li class="{% if tab == 'favor' %}active{% endif %}"><a href="#favor" data-toggle="tab">
                           <div class="">
                                <span class="text-uppercase">我的书架</span>
                           </div>
                        </a></li>
                    </ul>
                    <div class="tab-content">

                    {#  tab content - favorites  #}
                    <div id="favor" class="tab-pane {% if tab == 'favor' %}active{% endif %}">
                        <div class="row" >
                            <ul class="list-inline">
                                {% for f in favorites %}
                                <li class="text-center">
                                    <img src="{% get_static_prefix %}albums/{{ f.novel_name }}.jpg" alt="{{ f.novel_name }} 封面"
                                         onerror="this.onerror=null;this.src='{% get_static_prefix %}images/nocover.jpg';"
                                         class="img-responsive">
                                    <span class=""><a href="#">{{ f.novel_name }}</a></span>
{#                                    <div class="pull-right user-icons">#}
{#                                        <a href="#"><i class="fa fa-star fa"></i></a>#}
{#                                        <a href="#"><i class="fa fa-user fa"></i></a>#}
{#                                        <a href="#"><i class="fa fa-weibo fa"></i></a>#}
{#                                    </div>#}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    {#  tab content - profile  #}
                    <div id="profile" class="tab-pane {% if tab == 'profile' or not tab %}active{% endif %}">
                        <div class="form">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="col-lg-6 col-md-5 col-sm-7">
                                    <div class="form-group">
                                        <label class="form-label">修改名字：</label>
                                        <input name="username" class="form-control" type="text" placeholder="名字">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">修改密码：</label>
                                        <input name="password" class="form-control" type="password" placeholder="原密码">
                                        <input name="password1" class="form-control" type="password" placeholder="新密码">
                                        <input name="password2" class="form-control" type="password" placeholder="重复输入新密码">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-5">
                                    <div class="form-group">
                                        <label class="form-label">修改头像：</label><span>（暂时不支持）</span>
                                        <button class="btn btn-default disabled" type="button">上传头像</button>
                                        <button class="btn btn-info disabled" type="button">保存头像</button>
                                    </div>
                                </div>
                                <div class="desc text-center">
                                    <button type="submit">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                </div>


            </div>
            {#  ===== User info DONE =====  #}


         </div>
        {#  ===== END Full Column =====  #}


    </div>




{% endblock %}

{% block script %}
    {{ block.super }}
{% endblock %}