{% extends "../base_site.html" %}{% load staticfiles static %}

{% block title %}搜索{{ q }}结果 {{ block.super }}{% endblock %}

{% block head %}
<style>
    .box {
        margin-bottom: 0;
        background-color: rgba(255,255,255, 0.95);
    }
    .novel-cover img {
        width:90px;
        height: 120px;
    }
    .novel-title {
        margin: 0;
    }

    .novel-list .small {
        font-size: 1em;
    }
</style>
{% endblock %}

{% block content %}

<div class="row">

    {#  ===== Main column =====  #}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box">


        {# ===== Search box ===== #}
        <div class="row margin-b-10">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 float-container">
                <img src="{% static 'images/logo.png' %}" class="logo pull-right" style="width:140px;margin-top: 15px;">
                <div class="">
                    <h3 class="london-title">搜索{% if q %}<span class="text-danger">"{{ q }}"</span>结果{% endif %}</h3>
                    {% include '../inc/search_box.html' with q=q %}
                </div>
            </div>

        </div>
        {# ===== Search box DONE ===== #}

        {#  ===== Search result =====  #}
        <div class="row margin-b-10">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1"
                    data-toggle="search-result" data-qterm="{{ q }}" data-qtype="{{ qtype }}"
                    data-sid="{{ sid }}">
                {% include '../inc/message.html' %}
                {% include '../inc/novel_list_detail.html' with novels=novels %}
                {% include '../inc/novel_list_pager.html' with next_page=np prev_page=pp%}
            </div>
        </div>
        {#  ===== Search result DONE ======  #}

    </div>
    {#  ===== END Main Column =====  #}


</div>


{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'js/search.js' %}"></script>
{% endblock %}