{% load staticfiles %}
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform " />
    <meta name="applicable-device" content="pc">

    {#  customized values  #}
    <meta http-equiv="mobile-agent" content="format=html5; url={{ website.mobile_url }}">
    <meta name="keywords" content="{{ website.name }},{{ website.short_name }},追书神器,小说搜索,小说搜索网" />
    <meta name="description" content="{{ website.name }}专注于小说搜索,我们是{{ website.name }},我们提供最全的小说网站收集,方便大家愉快地转码阅读." />
    <meta name="author" content="{{ website.name }} {{ website.domain }}">
    <title>{% block title %}{# TITLE BLOCK #} - {{ website.name }}  {{ website.domain }}{% endblock %}</title>

    <!--<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,400italic'>-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>

    {% block head %}<!-- HEAD BLOCK -->{% endblock %}
</head>

<body>

    <div class="main-body">

        {% block toolbar %}
            {% include './inc/toolbar.html' %}
        {% endblock %}

        <div class="col-sm-12 col-md-12 col-lg-offset-1 col-lg-10">
            <div class="row">
                <div class="main-page">
                    <div class="content-main">
                    {% block content_wrapper %}
                    {% block content %}<!-- CONTENT BLOCK -->{% endblock %}
                    {% endblock %}
                    </div> <!-- .content-main -->
                </div> <!-- .main-page -->
            </div> <!-- .row -->


            {% block footer %}
                <footer class="row text-center text-muted">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer">
                        <ul class="list-inline">
                            <li class="copyright">© 2018 {{ website.name }} {{ website.domain }}.</li>
                            <li><p>本站内容由用户上传，如有侵权请联系 contact#{{ website.domain }} 删除.</p></li>
            {#                <li><a href="#">Terms</a></li>#}
            {#                <li><a href="#">Privacy</a></li>#}
            {#                <li><a href="#">About</a></li>#}
                        </ul>
                    </div>
                </footer>

            {% endblock %}

        </div> <!-- .container -->
    </div> <!-- .main-body -->


    <!-- JavaScript -->
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/share.js' %}"></script>

{% block script %}<!-- SCRIPT BLOCK -->{% endblock %}

</body>

</html>

