
.content-main {
    padding: 0 10px;
    min-width: 320px;
}
.main-page {
    margin-top: 0;
    min-height: 600px;
}

.info {
    padding: 15px 15px 15px 15px;
}

.flag-on {
    color: #df9801;
    /*text-shadow:0 0 0.1em #75aaff,*/
                /*-0 -0 0.1em #ff668d;*/
}

.user-icons .flag-on {
    color: #1abfdf;
    text-shadow:0 0 0.1em #75aaff,
                -0 -0 0.1em #ffa0b1;
}

.nav li a {
    padding: 0 10px;
}

/* ----- for toolbar ----- */
.toolbar {
    background-color: rgba(255, 255, 255, 0.85);
    width: 100%;
}

.toolbar .bottom-title {
    margin: 0;
}

/* ----- for banner ----- */
.banner-main-home {
    padding: 30px 30px 10px 50px;
    background-image: none;
    background-color: rgba(255, 255, 255, 0.85);
    min-height: 150px;
}
.banner-main-home .actions li {
    margin: 0;
    text-align: center;
}
.banner-main-home .actions i {
    display: block;
    font-size: 2em;
}

.banner-main-home .category ul {
    padding-left: 30px;
    padding-right: 30px;
}
.banner-main-home .category li {
    font-size: 16px;
    color: #10a5cd;
    line-height: 40px;
}

.banner-main-home .category li a {
    background-color: #363636;
    color: #fff;
    /*font-weight: bold;*/
    border: none;
    padding: 5px 10px;
    transition: all 0.3s ease;
    /*-webkit-transition: all 0.3s ease;*/
}
.banner-main-home .category li a:hover {
        background-color: #777;
}

.search .form-control {
    height: 40px;
    padding: 6px;
}
.search .form-group-sm .form-control {
    height: 27px;
    padding: 4px;
}

/* ----- for toolbar ----- */



/* ----- for novel block ----- */

.novel-list-block {
    background-color: rgba(255, 255, 255, 0.85);
    width: 100%;
    /*width: 980px;*/
}
.novel-list-block .bottom-title {
    padding-left: 10px;
    margin: 0 0 0 0;
}
.novel-list-block .bottom-img {
}

.novel-list-block .london-title{
    margin: 0;
}


.novel-card-block {
    background-color: rgba(255, 255, 255, 0.85);
    /*opacity: 0.5;*/
}


.novel-card-block .paris-title {
    padding-left: 10px;
    margin: 0 0 0 0;
}

.margin-b-10 {
    margin-bottom: 10px;
}
/* ----- for novel list ----- */

.novel-list {
    border: 1px solid #eee;
    margin: 10px 0 0 0;
    padding: 0;
    display: block;
    /*list-style-type: disc;*/
    /*-webkit-margin-before: 1em;*/
    /*-webkit-margin-after: 1em;*/
    /*-webkit-margin-start: 0px;*/
    /*-webkit-margin-end: 0px;*/
    /*-webkit-padding-start: 40px;*/
}

.novel-list ul {
    line-height: 25px;
    padding: 0;
    margin: 0;
}
.novel-list li {
    list-style: none;
    margin: 5px 0 0 0;
}
.novel-list li span {
    font-size: 16px;
    display: inline-block;
    overflow: hidden;
    /*height: 30px;*/
    white-space: nowrap;
    /*white-break: keep-all;*/
}

.novel-list .a {
    /*width: 150px;*/
    text-align: left;
    text-indent: 5px;
    font-weight: bold;
}
.novel-list .b {
    /*width: 300px;*/
    text-align: left;
}
.novel-list .c {
    /*width: 50px;*/
    text-align: right;
    font-size: 1em;
}
.novel-list .d {
    /*width: 50px;*/
    text-align: right;
}


.novel-list a {
    transition: all 0.3s ease;
}
.novel-list .b a {
    color: inherit;
}
.novel-list .b a:hover {
    color: #337ab7;
}
.novel-list .c a {
    color: #333;
}

/* ---- for novel card ---- */
.novel-card {
    padding: 0 5px 0 5px;
}

.novel-card .novel-cover {
    display: inline;
    float: left;
    width: 80px;
    height: 100px;
    padding: 3px;
    border: 1px solid #efefef;
    background: #fff;
	margin: 0 0 5px 10px;
}

.novel-info .novel-cover {
    display: inline;
    float: right;
    width: 150px;
    height: 180px;
    padding: 3px;
    border: 1px solid #efefef;
    background: #fff;
	margin: 0 0 5px 10px;
}

.novel-card .novel-title {
    margin-left: 120px;
}

.novel-info .novel-title {

}

.novel-desc {
    height: 80px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:4;
}

.novel-card .novel-name a {
	color: #19beb6;
}
.novel-card .novel-name  a:hover {
	color: #6f8538;
}

/* right column top novels */
.novel-list .m {
    text-align: left;
}
.novel-list .n {
    text-align: right;
    font-size: 1em;
}
.novel-list .n a {
    color: #333;
}

.chapter-list ul {
    padding-left: 10px;
}
.chapter-list li {
    list-style: none;
    display: list-item;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;

}


/* -------- Record (Div Table) ------- */

.record {
    display: block;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}
.record li {
    line-height: 25px;
    border-bottom: 1px solid #e5e5e5;
}
.record li div    {
    float: left;
    display: block;
    padding: 10px;
    border-right: 1px solid #e5e5e5;
    text-align: center;
    box-sizing: border-box;
}

/* ------------------------- */

/*@media (max-width:400px) {*/

	/*.desc2 { font-size: 12px; }*/

	/*.contact-content-upper { padding: 20px;	}*/
/*}*/

@media (max-width: 330px) {
    .info {padding: 0;}
    .hr {margin: 10px 0 10px 0;}
    .novel-card .novel-title {margin-left: 80px;}
    .novel-cover {margin: 10px 10px 10px 5px;}
    .london-title h2 {font-size: 18px;}
    .london-title h3 {font-size: 16px;}
    .london-title h4 {font-size: 14px;}
}

@media (max-width: 400px) {
    .info {padding: 5px;}
    .hr {margin: 10px 0 10px 0;}
    .novel-card .novel-title {margin-left: 100px;}
    .novel-cover {margin: 10px 10px 10px 5px;}
    .bottom-img p {font-size: 16px;}
}

@media (max-width: 480px) {
    .info {padding: 10px;}
    .novel-card .novel-title {margin-left: 120px;}
    .novel-cover {margin: 10px 10px 10px 10px;}

    .hidden-xxs { display: none; }
}

@media  (max-width: 600px) {
    .banner-main-home .actions ul { float: left; }
}

@media  (max-width: 1024px) {
    .banner-main-home .category li {font-size: 14px; line-height: 36px;}
}
