            <li><a href="{% url 'category' '玄幻魔法' %}">玄幻魔法</a></li>
            <li><a href="{% url 'category' '武侠修真' %}">武侠修真</a></li>
            <li><a href="{% url 'category' '都市言情' %}">都市言情</a></li>
            <li><a href="{% url 'category' '历史军事' %}">历史军事</a></li>
            <li><a href="{% url 'category' '网游竞技' %}">网游竞技</a></li>
            <li><a href="{% url 'category' '科幻小说' %}">科幻小说</a></li>
            <li><a href="{% url 'category' '恐怖灵异' %}">恐怖灵异</a></li>
            <li><a href="{% url 'category' '同人漫画' %}">同人漫画</a></li>
            <li><a href="{% url 'category' '其他类型' %}">其他类型</a></li>
            <li><a href="{% url 'category' '全本' %}">全本小说</a></li>
