{% if messages %}
    {% with DEFAULT_MESSAGE_LEVELS as L %}
    <ul class="messagelist">
        {% for m in messages %}
        <li class="{{ m.tags }} alert alert-dismissible {% if m.level >= L.ERROR %}alert-danger{% elif m.level >= L.WARNING %}alert-warning{% elif m.level >= L.INFO %}alert-success{% else %}alert-info{% endif %}">
            {{ m|safe }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </li>
        {% endfor %}
    </ul>
    {% endwith %}
{% endif %}