{% load static %}
{# list novels as covers #}
{# args: #}
{#      novels: novel to be listed #}

                <div class="row">
                    {% for r in novels %}
                    <div class="col-xxs-6 col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="bottom-img">
                            <a target="_blank" href="{% url 'novel' r.id %}">
                            <img src="{% get_static_prefix %}albums/{{ r.name }}.jpg"
                                 onerror="this.onerror=null;this.src='{% get_static_prefix %}images/nocover.jpg';"
                                 alt="{{ r.name }}.jpg">

                            <p class="first">
                                《{{ r.name }}》 <br>
                                {{ r.last_chapter }} <br>
                                {{ r.author }} {{ r.update_on|date:"m-y" }}
                            </p>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
