{% load static %}
{# Simple list novels #}
{# args: #}
{#      novels: novels to be listed #}

                <div class="row novel-list">
                    <ul class="info">
                        {% for novel in novels %}
                            <li class="row float-container" data-novel-id="{{ novel.id }}">
                                <div class="hidden-xxs col-xs-4 col-sm-2 col-md-2 col-lg-2">
                                    <a class="novel-cover" target="_blank" href="{% url 'novel' novel.id %}">
                                    <img src="{% get_static_prefix %}albums/{{ novel.name }}.jpg" alt="{{ novel.name }}.jpg"
                                         onerror="this.onerror=null;this.src='{% get_static_prefix %}images/nocover.jpg';"
                                         class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-xxs-12 col-xs-8 col-sm-10 col-md-10 col-lg-10">
                                    <span class="london-title novel-title"><a target="_blank" href="{% url 'novel' novel.id %}"><b>《{{ novel.name }}》</b></a></span>
                                    <span class="small"><i class="fa fa-user"></i> <a href="{% url 'search' %}?q={{ novel.author }}&qtype=author">{{ novel.author }}</a></span>
                                    <span class="small"><i class="fa fa-tags"></i> {{ novel.category }}</span>
                                    <p class="novel-desc">{{ novel.desc }}</p>
                                    {% if novel.last_chapter %}<span class="small">最新章节： <a href="{% url 'chapter' novel.id novel.last_chapter_id %}">{{ novel.last_chapter }}</a></span>{% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
