{# args: #}
{#      novel: dict/object like. novel record/row with id, name   #}
{#             use "with_actions_user_id" argument to list novels so that it can add "is_favor" and "is_recmd" fields. #}
            <a title="{% if novel.is_favor %}取消收藏（已收藏）{% else %}收藏{% endif %}" style="cursor:pointer;"
               data-toggle="favorite" data-novel-id="{{ novel.id }}" data-novel-name="{{ novel.name }}">
                <i class="fa fa-star fa-2x {% if novel.is_favor %}flag-on{% endif %}"></i></a>
            <a title="推荐（{{ novel.my_recmd }}次）" style="cursor:pointer;" data-toggle="recommend" data-novel-id="{{ novel.id }}" data-novel-name="{{ novel.name }}">
                <i class="fa fa-thumbs-up fa-2x {% if novel.my_recmd > 0 %}flag-on{% endif %}"></i></a>
