
    {#  ===== END Banner =====  #}
    <div class="row margin-b-30">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="banner-main-home">
                <div class="banner-main-home-text">
                    <div class="heading">
                        <h1 class="text-nowrap">最新推荐</h1>

                        <p class="text-uppercase">Special Offers</p>
                    </div>
                    <div class="desc">

                        <button type="button" class="">Subscribe</button>
                    </div>
                </div>
                <img src="/s/images/home-img-1.png" alt="Image" class="img-responsive">
                <div>
                                    {% for r in choice_novels %}
                    <ul>
                        <li>
                            <span>{{ r.name }}</span>
                            <span>{{ r.author }}</span>
                        </li>
                    </ul>
                {% endfor %}
                </div>

            </div>
        </div>
    </div>
    {#  ===== END Banner =====  #}