<div class="box col-xs-12 col-sm-12 col-md-12 col-lg-12 toolbar">
    <div class="row">
        <ul class="list-inline text-center">
            <li><a href="#">网站首页</a></li>
            <li><a href="#">玄幻魔法</a></li>
            <li><a href="#">武侠修真</a></li>
            <li><a href="#">都市言情</a></li>
            <li><a href="#">历史军事</a></li>
            <li><a href="#">网游竞技</a></li>
            <li><a href="#">科幻小说</a></li>
            <li><a href="#">恐怖灵异</a></li>
            <li><a href="#">同人漫画</a></li>
            <li><a href="#">其他类型</a></li>
            <li><a href="#">全本小说</a></li>
            <li><a href="#">全部文章</a></li>
        </ul>
    </div>

</div>